{% extends "base.html" %}

{% load static %}
{% load tags %}

{% block media %}
    
{% endblock %}

{% block title %}{{ place.name }}{% endblock %}

{% block content %}

    <div class="row">
            <!-- item list -->
            <p>Tweets for place {{ place.name }}</p>
            <div class="span12">
                <!-- map -->
                {% show_map place %}
            </div>
            
            <div class="span12">
                <ul>
                {% for t in place.tweet_set.all %}
                    <li>
                        <strong><a href="{% url tweets-map %}?search_id={{ t.search_set.all.0.id }}">{{ t.search_set.all.0.name }}</strong></a>,
                        <a href="https://twitter.com/{{ t.username }}">@{{ t.username }}</a></strong>: {{ t.status }}
                    </li>
                {% endfor %}
                </ul>
            </div>
    </div>
    
{% endblock %}
