{% load staticfiles %}

{% block media %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
{% endblock %}

<div id="map"></div>

<script>
    var map = new L.Map('map');
    var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/{{ cloudmade_api_key }}/997/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    });
    
    var Thunderforest_Landscape = L.tileLayer('http://{s}.tile3.opencyclemap.org/landscape/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
});
    
    // initial extent and zoom
    var latlon_init = new L.LatLng(0, 0);
    map.setView(latlon_init, 2).addLayer(Thunderforest_Landscape);
    
    // from search extent
    map.fitBounds([
        [{{ places.extent.1 }}, {{ places.extent.0 }}],
        [{{ places.extent.3 }}, {{ places.extent.2 }}]
    ]);

    // let's add the markers for places
    {% for place in places.all %}
         var markerPlace_{{ place.id }} = new L.LatLng({{ place.geometry.y }}, {{ place.geometry.x }});
        
        var myIcon = L.icon({
            {% if place.from_gps %}
                iconUrl: '{% static "feeds/images/twitter-icon-green-25.png" %}',
            {% else %}
                iconUrl: '{% static "feeds/images/twitter-icon-blue-25.png" %}',
            {% endif %}
            {% if place.tweet_set.all.count > 5 %}
                iconSize: [25,25],
            {% else %}
                iconSize: [15,15],
            {% endif %}
        });
        var marker_{{ place.id }} = new L.Marker(markerPlace_{{ place.id }}, {icon: myIcon});
        //var marker_{{ place.id }} = new L.Marker(markerPlace_{{ place.id }});

        map.addLayer(marker_{{ place.id }});
        var popup = "<strong><a href='{% url "place-detail" place.slug %}'>{{ place.name|linebreaksbr }}</a></strong>";
        popup = popup + "<br /><a href='https://twitter.com/{{ t.place.tweet_set.all.0.username }}'>@{{ place.tweet_set.all.0.username }}</a>,/{{ place.tweet_set.all.0.created_at }}<br />";
        popup = popup + "<br />{{ place.tweet_set.all.0.status|linebreaksbr }}";
        
        {% if place.tweet_set.all.count > 1 %}
            popup = popup + "<br /><br />There are other {{ place.tweet_set.all.count|add:"-1" }} tweets for this place.<br /><a href='{% url "place-detail" place.slug %}'>See the full list</a>.";
        {% endif %}
        
        marker_{{ place.id }}.bindPopup(popup);
    {% endfor %}

    {% for e in events %}
        var eventIcon = L.icon({
                iconUrl: '{% static "feeds/images/feed_1.png" %}',
                iconSize: [15,15]
        });
        var markerEventPlace_{{ e.id }} = new L.LatLng({{ e.geometry.y }}, {{ e.geometry.x }});
        var markerEvent_{{ e.id }} = new L.Marker(markerEventPlace_{{ e.id }}, {icon: eventIcon});
        map.addLayer(markerEvent_{{ e.id }});
        var popup_event = "<strong>{{ e.eventcode.description }}</strong>";
        popup_event = popup_event + "<br />Mentions: {{ e.num_mentions }}, Sources: {{ e.num_sources }}, Articles: {{ e.num_articles }}";
        popup_event = popup_event + "<br /><a href='{{ e.url }}'>{{ e.url|truncatechars:50 }}</a>"
        markerEvent_{{ e.id }}.bindPopup(popup_event);
    {% endfor %}
    
</script>
    
