{% extends "base.html" %}

{% load pagination_tags %}
{% load tags %}

{% block title %}Items list{% endblock %}

{% block content %}
 
{% autopaginate items 10 %}
    {% paginate %}
        {% for item in items %}
        <!-- item -->
        <div id='{{ item.item_type }}'>

            <!-- item title (with link) -->
            <strong><a href="{% url item-detail item.id %}">{{ item.title }}</a></strong>

            <!-- item summary -->
            <p>{{ item.summary|striptags }}</p>

            <!-- places list -->
            {% show_places item %}
            
            <!-- people list -->
            {% show_people_short item %}
            
            <!-- keywords list -->
            {% show_keywords_short item %}
            
            <!-- images list -->
            {% show_images_short item %}
            
            <!-- domain -->
            {% show_domain item %}
            
            <!-- tags -->
            {% show_tags item %}
            
            <! others -->
            <br />
            {{ item.updated }} | from feed: {{ item.feed }} | <a href='{{ item.link }}'>news source</a><br /> 
            <!-- links (only for authenticated users) -->
            {% if user.is_authenticated %}
                <a href='#' id="{{ item.id }}" class='archive_link'>
                {% if item.archived %}
                    Unarchive
                {% else %}
                    Archive
                {% endif %}
                </a>
            <!-- end of links -->  
            {% endif %}         
        </div>  
        <!-- end of item -->
        {% endfor %}
    {% paginate %}

{% endblock %}
