{% extends "base.html" %}
{% load tags %}

{% block title %}Details for item {{ item.title }}{% endblock %}

{% block media %}
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
    <![endif]-->
    <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
    
{% endblock %}

{% block content %}

    <!-- item detail -->
    <ul>
        <li>Update: {{ item.updated }}</li>
        <li>Title: {{ item.title }}</li>
        <li>Feed: {{ item.feed.name }}</li>
        <li><a href="{{ item.link }}">Link</a></li>
    </ul>
    
    <!-- places list -->
    {% show_places item %}
    
    <!-- people list -->
    {% show_people_long item %}
    
    <!-- keyword list -->
    {% show_keywords_long item %}
    
    <!-- images list -->
    {% show_images_long item %}
    
    <!-- domain -->
    {% show_domain item %}
    
    <!-- tags -->
    {% show_tags item %}
    
    <!-- map -->
    {% show_places_map item.place_set.all %}
    
{% endblock %}

