<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Sm@artFeeds</title>

    <link type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link type="text/css" href="{{STATIC_URL}}feeds/css/feeds.css" rel="stylesheet" />
        <link type="text/css" href="{{STATIC_URL}}bootstrap/css/navbar-fixed-top.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href='{% url "searches-list" %}' ><img class="navbar-brand" src="{{STATIC_URL}}feeds/images/smartfeedlogo.png" alt="Sm@rtFeeds" /></a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <!-- home -->
              {% url "searches-list" as url %}
              <li {% if request.get_full_path = url %} class="active" {% endif %} >
              <a href="{{ url }}">Home</a></li>
              <!-- tweets -->
              {% url "tweets-list" as url %}
              <li {% if request.get_full_path = url %} class="active" {% endif %} >
              <a href="{{ url }}">Tweets</a></li>
              <!-- places -->
              {% url "places-list" as url %}
              <li {% if request.get_full_path = url %} class="active" {% endif %} >
              <a href="{{ url }}">Places</a></li>
              <!-- admin -->
              <li><a href="{% url "admin:index" %}">Admin</a></li>
          </ul>
          
          <div class="navbar-header navbar-right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://www.wfp.org/" class="navbar-brand-2"><img src="{{STATIC_URL}}feeds/images/wfp_logo_small.png" alt="World Food Programme" /></a>
        </div>
        
        </div><!--/.nav-collapse -->
        
    </div>
    
    <div class="container">
            <div id="title">
                <h1>{% block title %}{% endblock %}</h1>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        
    <div id="footer">
      <hr />
      <p align="center">
      Powered by <a href="https://github.com/capooti/smartfeeds">Sm@rtFeeds</a>
      <br />Press News data based on:<br /><i>Leetaru, Kalev and Schrodt, Philip. (2013). GDELT: Global Data on Events, Language, and Tone, 1979-2012. International Studies Association Annual Conference, April 2013. San Diego, CA.</i>
      </p>
    </div>
    
    <script src="{{STATIC_URL}}jquery/js/jquery.js"></script>

  </body>
</html>
